/* line 17, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /home/wycats/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  src: url("../fonts/Consolas.woff");
  font-family: "Consolas"; }

@font-face {
  src: url("../fonts/Consolas-Bold.woff");
  font-family: "Consolas";
  font-weight: bold; }

@font-face {
  src: url("../fonts/Consolas-Italic.woff");
  font-family: "Consolas";
  font-style: italic; }

@font-face {
  src: url("../fonts/Consolas-Bold-Italic.woff");
  font-family: "Consolas";
  font-weight: bold;
  font-style: italic; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Thin.woff");
  font-family: "Roboto";
  font-weight: 100; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Light.woff");
  font-family: "Roboto";
  font-weight: 200; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Regular.woff");
  font-family: "Roboto";
  font-weight: 400; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Medium.woff");
  font-family: "Roboto";
  font-weight: 500; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Bold.woff");
  font-family: "Roboto";
  font-weight: 700; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Black.woff");
  font-family: "Roboto";
  font-weight: 800; }

/* line 3, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight {
  background-color: #eeecdd; }

/* line 4, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .c {
  color: #93a1a1; }

/* Comment */
/* line 5, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .err {
  color: #93a1a1; }

/* Error */
/* line 6, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .g {
  color: #93a1a1; }

/* Generic */
/* line 7, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .k {
  color: #859900; }

/* Keyword */
/* line 8, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .l {
  color: #93a1a1; }

/* Literal */
/* line 9, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .n {
  color: #93a1a1; }

/* Name */
/* line 10, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .o {
  color: #859900; }

/* Operator */
/* line 11, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .x {
  color: #cb4b16; }

/* Other */
/* line 12, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .p {
  color: #93a1a1; }

/* Punctuation */
/* line 13, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .cm {
  color: #586e75; }

/* Comment.Multiline */
/* line 14, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .cp {
  color: #859900; }

/* Comment.Preproc */
/* line 15, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .c1 {
  color: #586e75; }

/* Comment.Single */
/* line 16, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
/* line 17, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .gd {
  color: #2aa198; }

/* Generic.Deleted */
/* line 18, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .ge {
  color: #93A1A1;
  font-style: italic; }

/* Generic.Emph */
/* line 19, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .gr {
  color: #dc322f; }

/* Generic.Error */
/* line 20, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .gh {
  color: #cb4b16; }

/* Generic.Heading */
/* line 21, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
/* line 22, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .go {
  color: #93a1a1; }

/* Generic.Output */
/* line 23, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .gp {
  color: #93a1a1; }

/* Generic.Prompt */
/* line 24, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold; }

/* Generic.Strong */
/* line 25, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .gu {
  color: #cb4b16; }

/* Generic.Subheading */
/* line 26, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .gt {
  color: #93a1a1; }

/* Generic.Traceback */
/* line 27, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .kc {
  color: #cb4b16; }

/* Keyword.Constant */
/* line 28, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .kd {
  color: #268bd2; }

/* Keyword.Declaration */
/* line 29, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .kn {
  color: #859900; }

/* Keyword.Namespace */
/* line 30, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
/* line 31, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .kr {
  color: #268bd2; }

/* Keyword.Reserved */
/* line 32, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .kt {
  color: #dc322f; }

/* Keyword.Type */
/* line 33, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .ld {
  color: #93a1a1; }

/* Literal.Date */
/* line 34, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .m {
  color: #2aa198; }

/* Literal.Number */
/* line 35, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .s {
  color: #2aa198; }

/* Literal.String */
/* line 36, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .na {
  color: #93a1a1; }

/* Name.Attribute */
/* line 37, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nb {
  color: #b58900; }

/* Name.Builtin */
/* line 38, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nc {
  color: #268bd2; }

/* Name.Class */
/* line 39, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .no {
  color: #cb4b16; }

/* Name.Constant */
/* line 40, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nd {
  color: #268bd2; }

/* Name.Decorator */
/* line 41, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .ni {
  color: #cb4b16; }

/* Name.Entity */
/* line 42, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .ne {
  color: #cb4b16; }

/* Name.Exception */
/* line 43, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nf {
  color: #268bd2; }

/* Name.Function */
/* line 44, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nl {
  color: #93a1a1; }

/* Name.Label */
/* line 45, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nn {
  color: #cb4b16; }

/* Name.Namespace */
/* line 46, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nx {
  color: #93a1a1; }

/* Name.Other */
/* line 47, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .py {
  color: #268bd2; }

/* Name.Property */
/* line 48, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nt {
  color: #268bd2; }

/* Name.Tag */
/* line 49, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .nv {
  color: #268bd2; }

/* Name.Variable */
/* line 50, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
/* line 51, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .w {
  color: #93a1a1; }

/* Text.Whitespace */
/* line 52, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .mf {
  color: #2aa198; }

/* Literal.Number.Float */
/* line 53, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .mh {
  color: #2aa198; }

/* Literal.Number.Hex */
/* line 54, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .mi {
  color: #2aa198; }

/* Literal.Number.Integer */
/* line 55, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .mo {
  color: #2aa198; }

/* Literal.Number.Oct */
/* line 56, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .sb {
  color: #586e75; }

/* Literal.String.Backtick */
/* line 57, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .sc {
  color: #2aa198; }

/* Literal.String.Char */
/* line 58, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .sd {
  color: #93a1a1; }

/* Literal.String.Doc */
/* line 59, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .s2 {
  color: #2aa198; }

/* Literal.String.Double */
/* line 60, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .se {
  color: #cb4b16; }

/* Literal.String.Escape */
/* line 61, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .sh {
  color: #93a1a1; }

/* Literal.String.Heredoc */
/* line 62, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .si {
  color: #2aa198; }

/* Literal.String.Interpol */
/* line 63, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .sx {
  color: #2aa198; }

/* Literal.String.Other */
/* line 64, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .sr {
  color: #dc322f; }

/* Literal.String.Regex */
/* line 65, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .s1 {
  color: #2aa198; }

/* Literal.String.Single */
/* line 66, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .ss {
  color: #2aa198; }

/* Literal.String.Symbol */
/* line 67, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .bp {
  color: #268bd2; }

/* Name.Builtin.Pseudo */
/* line 68, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .vc {
  color: #268bd2; }

/* Name.Variable.Class */
/* line 69, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .vg {
  color: #268bd2; }

/* Name.Variable.Global */
/* line 70, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .vi {
  color: #268bd2; }

/* Name.Variable.Instance */
/* line 71, /home/wycats/Code/cargo-website/source/stylesheets/solarized.css.scss */
.highlight .il {
  color: #2aa198; }

/* Literal.Number.Integer.Long */
/* line 8, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
html {
  background: url("../images/noise.png"), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 750, color-stop(0%, #199b5c), color-stop(100%, #3b6837));
  background: url("../images/noise.png"), -webkit-radial-gradient(top center, circle, #199b5c 0%, #3b6837 750px);
  background: url("../images/noise.png"), -moz-radial-gradient(top center, circle, #199b5c 0%, #3b6837 750px);
  background: url("../images/noise.png"), -o-radial-gradient(top center, circle, #199b5c 0%, #3b6837 750px);
  background: url("../images/noise.png"), radial-gradient(top center, circle, #199b5c 0%, #3b6837 750px); }

/* line 13, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
pre {
  font-family: "Consolas"; }

/* line 17, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
body {
  font-family: "Roboto"; }

/* line 21, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
* {
  box-sizing: border-box; }

/* line 25, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
body {
  display: flex;
  flex-direction: column;
  /*background-color: $dark-green;*/ }

/* line 31, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
h1 {
  font-size: 24px;
  margin: 20px 0 10px 0;
  font-weight: bold;
  color: #b64790; }

/* line 38, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
h1:first-child {
  margin-top: 0; }

/* line 42, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
code:not(.highlight) {
  font-family: Consolas;
  color: #b64790; }

/* line 47, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
main {
  display: flex;
  flex-direction: column;
  width: 900px;
  align-self: center;
  margin-bottom: 10px;
  background-color: #f9f7ec;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #3b6837; }
  /* line 60, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
  main p:first-child {
    color: #199b5c;
    font-weight: 500;
    margin-top: 3px;
    padding-bottom: 15px;
    border-bottom: 1px solid #62865f;
    text-align: center; }
  /* line 69, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
  main p {
    color: #3b6837;
    margin: 10px 0; }

/* line 75, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
img.logo {
  align-self: center;
  margin-bottom: 10px; }

/* line 80, /home/wycats/Code/cargo-website/source/stylesheets/all.css.scss */
pre {
  background: #eeecdd;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cad0d0;
  border-radius: 4px;
  line-height: 120%; }
